.menuContainer{
	width:95px;
	background-color:black;
	color:white;
	
}


#menutree li {
	list-style: none;          /* all list item li dots invisible */
	color:white;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
		
}

#menutree li:hover{
	color:#00AFEE;

}

.listStyle{
	padding-top:5px;
	padding-bottom:5px;
	
}

.listSpecial{
	padding-top:5px;
	padding-bottom:5px;
}

.firstListItem{
	padding-top:10px;
	padding-bottom:5px;
}

li .menu_label + input[type=checkbox] {
	opacity: 0;             /* checkboxes invisible and use no space */
	
}                        /* display: none; is better but fails in ie8 */

li .menu_label {
	cursor: pointer;        /* cursor changes when you mouse over this class */
}                         /* could add the many user-select: none; commands here */

li .menu_label + input[type=checkbox] + ol > li {
	display: none;         /* prevents sublists below unchecked labels from displaying */
}

li .menu_label + input[type=checkbox]:checked + ol > li {
	display: block; 
	/* display submenu on click */
	
}

ol{
	margin:0;
	padding:0;
	text-align:right;
}
