/*header css style and layout*/
/*styles header tag and navlink items*/


nav{
	display:flex;
	background-color: rgba(0,0,0,0.3);
	align-items:center;
	height:auto;
	width:100%;
	margin: 0 auto;
	flex-direction:row;
	justify-content:space-around;
	position:fixed;
}


/*logo container*/
.logobox{
	display:flex;
	height:75px;
	width:75px;
	justify-content:flex-start;
	align-items:center;
	padding:5px;
	font-size:500%;
	color:#00AFEE;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 5px solid #00AFEE;
	background-color:black;
}



 /*container that holds the button navlinks*/
.linkContainer{
	display:flex;
	width:100%;
	height:auto;
	background-color:transparent;
	flex-direction:row;
	justify-content:flex-end;
	align-items:center;
}


/* nav link stylings*/
.navStyle{
	cursor:pointer;
	background:transparent;
	color:white;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	min-width:50px;
	border-style:none;
	margin:10px;
	outline: none;
	font-size:105%;
	font-weight: bold;
}

nav a{
	text-decoration:none;
}
.navStyle:hover {
	color:#00AFEE;
	text-decoration:none;
}

.navStyleCred{
	cursor:pointer;
	background:transparent;
	color:white;
	border: 2px solid white;
	padding:5px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	min-width:50px;
	margin:10px;
	font-size:105%;
	font-weight: bold;
}

.navStyleCred:hover{
	color:#00AFEE;
	text-decoration:none;
	border-color:#00AFEE;
}

.clearDash{
	color:transparent;
}