/*core is used on the <main> tag */

html, body{
	margin:0px;
	padding:0px;
}

.core{
	display:flex;
	width:100%;
	margin: 0 auto;
	flex-direction:column;
}

.heroSection{
	display:flex;	
	width:100%;
	height:auto;	
	margin: 0 auto;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-image:url(../assets/hero.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	color:black;
}


/*styling hero content*/

.title{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:700%;
	padding-top:150px;

}

.subtitle{
	display:flex;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:300%;
	color:grey;
	margin-top:-80px;
	padding-bottom:50px;
}

.blueFont{
	color:#00AFEE;
}


.buttonHero{
	cursor:pointer;
	background:#00AFEE;
	border-style:none;
	height:50px;
	color:white;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	min-width:100px;
	font-size:175%;
	font-weight:bold;
	padding:10px;
	
	
}

.buttonHero:hover{
	border:solid 2px white;
}

.emptyDiv{
	height: 250px;
}





