/*core is used on the <main> tag */

html, body{
	margin:0px;
	padding:0px;
}

main{
	padding-top:100px;
}
.core{
	display:flex;
	background-color:transparent;
	height:1000px;
	width:100%;
	margin: 0 auto;
	flex-direction:column;
}

.heroSection{
	display:flex;
	height:600px;
	width:100%;
	margin: 0 auto;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-image:url(../assets/hero2.jpg);
	background-size: 100% auto;
	color:white;
}

.itemCore{
	flex-grow:2;
	align-items:flex-start;
	margin-top:-60px;
}


.buttonCore{
	cursor:pointer;
	background:#00AFEE;
	border-style:none;
	height:50px;
	color:white;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	min-width:100px;
	font-size:175%;
	font-weight:bold;
	padding:10px;
	border-radius:5px;
	
}

.buttonCore:hover{
	border:solid 2px white;
}

/*styling core content*/

.title{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:500%;
	margin-top:-50px;
}

.subtitle{
	margin-top:-30px;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:200%;

}

.blueFont{
	color:#00AFEE;
	text-decoration:underline;
}









