/*sections styling below*/

section h1{
	margin-top:120px;
	font-weight:bold;
	font-size:300%;
}

.sectionServices h2{
	margin-bottom:50px;
	margin-top:-30px;
	font-style:italic;
	color:grey;
	font-family:"Times New Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sectionServices{
	display:flex;
	background-color:none;
	height:auto;
	width:100%;
	margin:0 auto;
	flex-direction:column;
	align-items:center;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

.sectionBNA{
	display:flex;
	background-color:grey;
	height:auto;
	width:100%;
	margin:0 auto;
	flex-direction:column;
	align-items:center;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* both the services and before/after sections use a 3-column style for their main contents*/

.threeColContentA{
	display:flex;
	height: auto; 
	width:100%;
	margin: 0 auto;
	flex-direction:row;
	justify-content: space-between;
	background-color:none;
}


.itemThreeColContentA{
	display:flex;
	flex-direction:column;
	margin:10px;
	width:25%;
	align-items:center;
	font-weight:bold;
}

div i{
	color:#00AFEE;
}

.docTitle{
	margin:20px;
	font-weight:bold;
	font-size:150%;
}











