ul, li {
	margin: 0;
	padding: 0;
    }

    /* Display parent unordered list items horizontally */
	
ul li {
	float: left;
	list-style: none;       /* Get rid of default Browser styling */
	margin-right: 10px;     /* Add some space between items */
	margin-top:5px;
	margin-bottom:5px;
 }

 /* Hide inset unordered Lists */
 
ul li ul {
	display: none;
}

/* Un-Hide inset unordered Lists when parent <li> is hovered over */
ul li:hover ul {
	display: block;
	position: absolute;
}

/* Clear the any element that may be "float: left;" (Essentially moves the item to the next line */
ul li:hover ul li {
	clear: left;
}

.column{
	display:flex;
	flex-direction:column;
}

li a{
	color:white;
	text-decoration:none;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:black;
	font-weight:bold;
	padding-left:15px
}

li a:hover{
	color:#00AFEE;
}


.ulBack{
	background-color:black;
}

